<!--barre de recherche-->


<div class="container bg-danger ">

    <div class="row m-5 ">
        <div class="col-md-12 text-center">
            <div>
                <h2>recherche</h2>
            </div>
        </div>
    </div>
    <div class='row m-5 justify-content-center'>
        <div class="col-md-5  block-recherche">

            <input type="text" class="form-control" placeholder="recherche" aria-label="Username"
                aria-describedby="basic-addon1">

        </div>
    </div>

    <div class='row m-5 '>
        <div class="btn-group  block-recherche-btn justify-content-center mb-4">
            <div class="col-md-2">
                <div class=" btn btn-primary" data-toggle="buttons">
                    <button class="btn btn-recherche active">
                        shonen
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" btn btn-primary" data-toggle="buttons">
                    <button class="btn btn-recherche ">
                        shojo
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" btn btn-primary" data-toggle="buttons">
                    <button class="btn btn-recherche ">
                        seinen
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" btn btn-primary" data-toggle="buttons">
                    <button class="btn btn-recherche ">
                        shonen
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" btn btn-primary" data-toggle="buttons">
                    <button class="btn btn-recherche ">
                        kodomo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--/barre de recherche-->