<!-- reseaux sociaux -->


<div class="container mb-5 mt-5">
    <div class="row d-flex justify-content-around">
        <div class=" col-md-4  m-1 w-25   ">
         <a href="">

             <img src="assets/img/reseaux sociaux/facebook.png" alt="facebook" class=" w-25 align-items-center ">
         </a>
            

        </div>
        <div class=" col-md-4  m-1 w-25 ">
            <a href="">
                <img src="assets/img/reseaux sociaux/twitter.png" alt="twitter" class=" w-25">
            </a>
            
       
        </div>
        <div class=" col-md-4  m-1 w-25 ">
            <a href="">
                <img src="assets/img/reseaux sociaux/pinterest.png" alt="pinterest" class=" w-25">
            </a>
            
       
        </div>
    </div>
</div>
<!-- /reseaux sociaux -->