
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img class="img-nav" style="width: 50px;height: 50px"
                src="assets/img/logo-manga.jpg"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img class="img-nav" style="width: 50px;height: 50px"
            src="assets/img/logo-manga.jpg"/> 
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="#" >Dropdown</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Disabled</a>
            </li>
          </ul>
          
        </div>
      </nav>




