<!-- footer-->

<div class=' container color-footer mb-5'>
    <div class='row'>
        <div class='col-md-3 p-2 border-right '>
            <img src="assets/img/backheader.jpg" alt="footer gauche" class="float-right img-thumbnail rounded">
        </div>
        <div class='col-md-6 text-color-footer'>
            <div class="row border-bottom text-decoration-none">
                <div class='col-md-4'>
                    <ul class="list-group">
                        <li><a href="/">accueil</a></li>
                        <li><a href="/contact">contact</a></li> 
                        <li><a href="/article">article</a></li>
                        <li><a href="/reference">réfèrence</a></li>
                       
                    </ul>
                </div>
                <div class='col-md-4'>
                    <ul class="list-group">
                        <li><a href="/">la charte</a></li>
                        <li><a href="/">CGU</a></li>
                        <li><a href="/">politique de confidentialité</a></li>
                    </ul>
                </div>
                   
                <div class='col-md-4'>
                    <ul class="list-group">
                        <li><a href="/">facebook (rejoigner-nous)</a></li>
                        <li><a href="/">twitter (rejoigner-nous)</a></li>
                        <li><a href="/">printerest (rejoigner-nous)</a></li>
                       
                    </ul>
                </div>
                   
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6> <a href="">mention légale</a> </h6> 
                </div>
            </div>
        </div>
        <div class='col-md-3 p-2 border-left'>
            <img src="assets/img/backheader.jpg" alt="footer droit" class="float-left  img-thumbnail rounded-bottom">
        </div>
    </div>
</div>

<!-- /footer -->
