<!-- nav-->
    
    <nav class="fond container navbar  navbar-expand-lg navbar-light   ">
            
        <div class="row">
            <div class="col-md-1 ">
                <img src="../assets/img/logo-manga.jpg" alt="logo" class="w-logo"  > 
            </div>
            <div class="col-md-10  align-content-center">
                <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse   " id="navbar">
                    <div class="navbar-nav fond-nav nav-black-active ">
                            <div class="btn-black">
                                <a class="nav-link text-white active" href="/">accueil</a>
                            </div>
                            <div class="btn-black">
                                <a class="nav-link text-white" href="/contact">contact</a>
                            </div>
                            <div class="btn-black">
                                <a class="nav-link text-white" href="/article">article</a>
                            </div>
                            <div class="btn-black">
                                <a class="nav-link text-white" href="/reference">référence</a>
                            </div>
                        
                       
                    </div>

                </div>
            </div>
            
            <div  class=" col-md-1 im w-icon ">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" class="img-fluid w-color"><i class="far fa-user-circle float-left "></i> </span>
                </button>

            </div>



        </div>
       
    </nav>

<!--/nav -->