<!-- nav-->

<nav class="fond fixed-top  container navbar navbar-expand ">




    <div class="col-md-10   align-content-center">
        <div class='row'>
            <div class="col-md-2 navbar-brand">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="../assets/img/logo-manga.jpg" alt="logo" class=" navbar-toggler img-fluid ">
                </button>
            </div>

            <div class="collapse navbar-collapse col-md-8" id="navbar">
                <div class="navbar-nav fond-nav nav-black-active">
                    <div class="btn-black">
                        <a class="nav-link text-white active" href="/">accueil</a>
                    </div>
                    <div class="btn-black">
                        <a class="nav-link text-white" href="/contact">contact</a>
                    </div>
                    <div class="btn-black">
                        <a class="nav-link text-white" href="/article">article</a>
                    </div>
                    <div class="btn-black">
                        <a class="nav-link text-white" href="/reference">référence</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2col-sm-2 col-xl-2 col-lg-2 col-xxl-2 w-icon">
                <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#connect">
                    <span aria-hidden="true" class=" ">
                        <i class="far fa-user-circle float-left navbar-brand"></i> </span>
                </button>

                {{> modal/connect-nav}}


            </div>
        </div>
    </div>



    <!-- navpage -->
    <div class="container mb-0">
        <div aria-label="breadcrumb" class="row mb-0 ">
            <ol class="breadcrumb col-md-12 col-sm-12 col-xl-12 col-lg-12 col-xxl-12 mb-0">
                <li class="breadcrumb-item"><a href="#"> {{ page }} </a></li>
            </ol>
        </div>
    </div>


    <!-- /navpage -->
</nav>




<!--/nav -->