<div>
    <ul>
        <li id="nom-manga-vo"></li>
        <li id="nom-manga-de-langue-server"></li>
        <li id="date-de-parution"></li>
        <li id="dessin"></li>
        <li id="scenariste"></li>
        <li id="traducteur"></li>
        <li id="editeur-vf"></li>
        

    </ul>
    <div>
        <img id="img-de-ii" src="" alt="">
    </div>
    <ul>
        <li id="type"></li>
        <li id="genre"></li>
        <li id="editeur-vo"></li>
        <li id="prépublication"></li>
        <li id="illustration"></li>
        <li id="origine"></li>
        <li id="code-EAN"></li>
    </ul>
</div>