<div class="container">
    <div class="row">
        <table class=" table table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">label</th>
                    <th scope="col">enregistrement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><label class=" form-label" for="">image du manga</label></td>
                    <td><input class=" form-file" type="file"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><label class=" form-label" for="">description du manga</label></td>
                    <td><textarea name="" id="#descript" cols="30" rows="10"></textarea></td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><label class=" form-label" for="">nom du manga en vo</label></td>
                    <td><input class=" form-text" type="text" id="#nom-manga-vo"></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><label class=" form-label" for="">nom de manga en vf</label></td>
                    <td><input class=" form-text" type="text" id="#nom-manga-de-langue-server"></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><label class=" form-label" for="">date de parution</label></td>
                    <td><input class=" form-text" type="text" id="#date-de-parution"></td>

                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><label class=" form-label" for="">dessin</label></td>
                    <td><input class=" form-text" type="text" id="#dessin"></td>

                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td><label class=" form-label" for="">scenariste</label></td>
                    <td><input class=" form-text" type="text" id="#scenariste"></td>

                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td><label class=" form-label" for="">traducteur</label></td>
                    <td><input class=" form-text" type="text" id="#traducteur"></td>

                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td><label class=" form-label" for="">editeur vf</label></td>
                    <td><input class=" form-text" type="text" id="#editeur-vf"></td>

                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td><label class=" form-label" for="">type</label></td>
                    <td><input class=" form-text" type="text" id="#type"></td>

                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td><label class=" form-label" for="">genre</label></td>
                    <td><input class=" form-text" type="text" id="#genre"></td>

                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td><label class=" form-label" for="">editeur en vo</label></td>
                    <td><input class=" form-text" type="text" id="#editeur-vo"></td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td><label class=" form-label" for="">prepublication</label></td>
                    <td><input class=" form-text" type="text" id="#prépublication"></td>

                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td><label class=" form-label" for="">nom du manga en vo</label></td>
                    <td><input class=" form-text" type="text" id="nom-du-manga-en-vo"></td>

                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td><label class=" form-label" for="">origine</label></td>
                    <td><input class=" form-text" type="text" id="#origine"></td>

                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td><label class=" form-label" for="">illustration</label></td>
                    <td><input class=" form-text" type="text" id="#illustration"></td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="comtainer justify-content-center">

        <div class="row justify-content-center">
            <div class="col-md-12 justify-content-center ">
                <button type="submit" class="btn btn-dark justify-content-center">
                    enregistrer
                </button>
            </div>
        </div>
    </div>


</div>