<!-- formulaire -->

<div class="container  border mb-4">
  <div class="row">
    <div class="col-md-6 ">
      <!--presentation-->
      <div class="row">
        <div class="col-md-12 text-center mb-5 mt-5">

          <h4>les administrateurs</h4>

        </div>
      </div>

      <div class=" mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="image-de-contact" src="assets/img/logo-contact/meccharment.jpg" class=" w-75 rounded-circle"
              alt="mec charmant">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id="nom-du-contact">Card title</h5>
              <p class="card-text" id="descript-contact">This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>


      <div class=" mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="image-de-contact" src="assets/img/logo-contact/mecsombre.jpg" class=" w-75 rounded-circle"
              alt="mec sombre">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id=" nom-du-contact">Card title</h5>
              <p class="card-text" id=" descript-contact">This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>


      <div class=" mb-3 mt-3">
        <div class="row no-gutters">
          <div class="col-md-4 ">
            <img id="image-de-contact" src="assets/img/logo-contact/girl-contact.jpg" class=" w-75 rounded-circle"
              alt="girl">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id="nom-du-contact">Card title</h5>
              <p class="card-text" id="descript-contact">This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>

      <!--/presentation-->



    </div>

    <div class="col-md-6 border-left">

      <div class="row">
        <div class="col-md-12 text-center mb-5 mt-5">

          <h4> contacter nous</h4>

        </div>
      </div>
      <!-- form -->
      <form>

        <div class="form-group m-5">
          <input type="Nom" class="form-control" placeholder="Nom" id="nom-de-famille">
        </div>

        <div class="form-group m-5">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
        </div>

        <div class="form-group m-5">

          <select class="form-control" id="exampleFormControlSelect1">
            <option value="selected">choisissez votre interlocuteur</option>
            <option value="#">infographiste</option>
            <option value="#">directeur artistique</option>
            <option value="#">rédactrice</option>

          </select>
        </div>
        <div class="form-group m-5">

          <input type="sujet" class="form-control" id="exampleInputEmail1" placeholder="Sujet"
            aria-describedby="emailHelp">
        </div>
        <div class="form-group m-5">

          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="messages" rows="3"></textarea>
        </div>
        <div class=" form-group d-flex justify-content-center">
           <button type="submit" class="btn btn-primary mb-2 "> Envoyer</button>
        </div>
       
      </form>
    </div>
  </div>
</div>  <!-- /formulaire-->