<!-- presentation des contact -->

<div class="container mb-5 mt-5">
    <div class="row border">
        <div class="col-md-6 img ">
            <img src="assets/img/logo-contact/imgcontact.jpg" alt="ordi-girl" class="">
        </div> 
        <div class="font-weight-bolder  col-md-6">
            <p class="justify-content-around">jbdjhtdjtbtbqjdtibtjjtg jd jgjtgjtjt gdtgtjgtjht jthigq dtj qoigir hjth itghthtqgf
                dfdghfd wghr  dgdh wugd rgdrhgu drhgrwdg ghdg gihgut grtgo rusghisugh ergiergueirger
                hgehgri rughrgr ugiq ergehgriugi utr uhg hthq fudb ifh wbui bhbwidihu bhbntbuihdgbu
            </p>
        </div>
    </div>
    </div>
</div>
<!-- /presentation des contact -->