<!-- presentation des contact -->

<div class="container">
    <div class="row border">
        <div class="col-md-6">
            <img src="public/img/logo-contact/ordi-contact.jpg" alt="ordi-girl">
        </div> 
        <div class="font-weight-bolder padding col-md-6">
            <p>jbdjhtdjtbtbqjdtibtjjtg jd jgjtgjtjt gdtgtjgtjht jthigq dtj qoigir hjth itghthtqgf
                dfdghfd wghr  dgdh wugd rgdrhgu drhgrwdg ghdg gihgut grtgo rusghisugh ergiergueirger
                hgehgri rughrgr ugiq ergehgriugi utr uhg hthq fudb ifh wbui bhbwidihu bhbntbuihdgbu
            </p>
        </div>
    </div>
    </div>
</div>
<!-- /presentation des contact -->