<!-- reseaux sociaux -->


<div class="container">
    <div class="row ">
        <div class="border col-md-4 img ">
         <a href="">

             <img src="" alt="facebook">
         </a>
            

        </div>
        <div class="border col-md-4">
            <a href="">
                <img src="" alt="twitter">
            </a>
            
       
        </div>
        <div class="col-md-4 border">
            <a href="">
                <img src="" alt="pinterest">
            </a>
            
       
        </div>
    </div>
</div>
<!-- /reseaux sociaux -->