<div class="container card-deck">
    <div class="row">
        <div class="card col-md-4" id="n° de l'article">
            <img id="image" src="assets/img/logo-contact/meccharment.jpg" class="card-img-top" alt="mec charmant">
            <div class="card-body" >
                <h5 class="card-title" id="titre">Card title</h5>
                <p class="card-text" id="description">This is a longer card with supporting text below as
                     a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-secondary">Secondary</button>
            </div>
        </div>
        <div class="card  col-md-4" id="n° de l'article">
            <img id="image" src="assets/img/logo-contact/mecsombre.jpg" class="card-img-top" alt="mec sombre">
            <div class="card-body" >
                <h5 class="card-title" id="titre">Card title</h5>
                <p class="card-text" id="description">This is a longer card with supporting text below as a 
                    natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-secondary">Secondary</button>
            </div>
        </div>
        <div class="card  col-md-4" id="n° de l'article">
            <img id="image" src="assets/img/logo-contact/girl-contact.jpg" class="card-img-top" alt="girl">
            <div class="card-body" >
                <h5 class="card-title" id="nom">Card title</h5>
                <p class="card-text" id="pre-contact">This is a longer card with supporting text below as a n
                    atural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-secondary">Secondary</button>
            </div>
        </div>
       
    </div>
</div>
