
<div class="col-md-12 bg-contact p-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">les volume en cours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row ">les volumes en vo</th>
                <td id="#tome-vo">50</td>
                <input type="file" class=" form-file" name="" id="#tome-vo">
                <td id="#statut-tome-vo">terminer</td>
                <input type="file" class=" form-file" name="" id="#statut-tome-vo">
            </tr>
            <tr>
                <th scope="row">les volumes en vf</th>
                <td id="#tome-vf">40</td>
                <input type="file" class=" form-file" name="" id="#tome-vf">
                <td id="#statut-tome-vf">en cours</td>
                <input type="file" class=" form-file" name="" id="#statut-tome-vf">
            </tr>

        </tbody>
    </table>