<div class="accordion  m-5" id="accordion-manager">
    <div class="card row">
        <div class="card-header " id="managerOne">
            <h2 class="mb-1 ">
                <button class="btn btn-link btn-block text-center text-decoration-none link-dark" type="button"
                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    sidebar
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="managerOne" data-parent="#accordion-manager">
            <div class="card-body">


            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-1">
                <button class="btn btn-link btn-block text-center text-decoration-none link-dark collapsed"
                    type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    compte utilisateur
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
           
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-1">
                <button class="btn btn-link btn-block text-center text-decoration-none link-dark collapsed"
                    type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    article
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
               
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingfour">
            <h2 class="mb-1">
                <button class="btn btn-link btn-block text-center text-decoration-none link-dark collapsed"
                    type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false"
                    aria-controls="collapsefour">
                    messagerie
                </button>
            </h2>
        </div>

        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>