<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-start">
            <h4>filtre de messagerie</h4>
        </div>
    </div>
</div>

<form>
    <div class="row">
        <div class="col-2">
            <input type="text" class="form-control" placeholder="prénom">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="nom">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="email">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="pseudo">
        </div>
    </div>
</form>