<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    gestion du titre article
                </div>
                <div>

                    <div class=" form-control">
                        <input type="text" name="" id="">
                    </div>
                   

                    <button class="btn btn-block">enregistrement</button>
                </div>

            </div>



        </div>
    </div>
</div>