<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="row">
                <div class="col-md-12 img-thumbnail">
                    <i class="icon-nav"></i>
                </div>
               
                <div class="img-thumbnail">
                    <input type="file" name="" id="#icon-de-connection">
                </div>

            </div>
        </div>
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    barre d accueil
                </div>
                <div class=" form-control form-check-label">
                    <input type="text" name="" id="">
                </div>
                <div class=" form-control">
                    <input type="text" name="" id="">
                </div>
                <div class=" form-control">
                    <input type="text" name="" id="">
                </div>
                <div class=" form-control">
                    <input type="text" name="" id="">
                </div>

                <button>enregistrement</button>
            </div>



        </div>
    </div>
</div>