<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    gestion du contenue du contact
                </div>
                <div class="col-md - 12 form-check-input form">

                    <div>
                        <textarea name="" class=" form-control" id="#text-presentation" cols="35" rows="10"
                            placeholder="id=text-presentation"></textarea>
                    </div>

                    <div>

                        <button class="btn btn-block btn-primary">enregistrement</button>
                    </div>

                </div>

            </div>



        </div>
    </div>
</div>