<!-- Modal -->
<div class="modal fade" id="connect" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">

                <div class="register">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav justify-content-center ml-3" id="myTab" role="tablist">
                                <li class="nav-item btn btn-primary  ">
                                    <a class="nav-link link-dark active" id="home-tab" data-toggle="tab" href="#admin" role="tab"
                                        aria-controls="home" aria-selected="true">inscription</a>
                                </li>
                                <li class="nav-item btn btn-primary ">
                                    <a class="nav-link link-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Connexion</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">

                                <!-- Modal-form incription -->

                                <div class="tab-pane fade show active" id="admin" role="tabpanel"
                                    aria-labelledby="home-tab">


                                    <form id="inscription" action="/inscription.hbs" role="tabpanel" class="">
                                        <div class="form-group m-4">
                                            <input type="email" class="form-control" value="" id="Email-user"
                                                placeholder="Email" aria-describedby="email">
                                        </div>
                                        <div class="form-group m-4">
                                            <input type="password" class="form-control" value="" id="password-user"
                                                placeholder="mots de passe" aria-describedby="password-user">
                                        </div>

                                        <div class="form-group m-4">
                                            <input type="Nom" class="form-control" value="" placeholder="Nom"
                                                id="nom-user">
                                        </div>
                                        <div class="form-group m-4">
                                            <input type="prenom" class="form-control" value="" placeholder="prenom"
                                                id="prenom-user">
                                        </div>

                                        <div class="row m-4">

                                            <div class="col-md-6">

                                                <select class="form-control " value="" id="Select-genre">
                                                    <option value="selected">préférence
                                                        de
                                                        genre</option>
                                                    <option value="#">shonen</option>
                                                    <option value="#">seinen</option>
                                                    <option value="#">shojo</option>
                                                    <option value="#">josei</option>
                                                    <option value="#">kodomo</option>
                                                </select>
                                            </div>


                                            <div class="col-md-6">

                                                <input type="pseudo" class="form-control" value="" id="pseudo"
                                                    placeholder="pseudo" aria-describedby="pseudo">
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-center m-3 mt-0 ml-5 mr-5">
                                            <input type="date" class="form-control" id="date-de-naissance"
                                                name="trip-start" value="" placeholder="date de naissance"
                                                min="1900-01-01" max="2010-12-31">
                                        </div>


                                        <div class="d-flex justify-content-center mb-3">
                                            <button type="button submit" class="btn
                        btn-secondary" data-dismiss="modal">Envoyer</button>
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal-form connection -->

                                <div class="tab-pane fade show" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <h3 class="register-heading">

                                        <form id="connection" action="/connection.hbs" class=" " role="tabpanel">
                                            <div class="form-group m-4">
                                                <input type="email" class="form-control" id="Email-user"
                                                    placeholder="Email" aria-describedby="email">
                                            </div>
                                            <div class="form-group m-4">
                                                <input type="password" class="form-control" id="password-user"
                                                    placeholder="mots de passe" aria-describedby="password-user">
                                            </div>
                                            <div class="d-flex justify-content-center mt-0 mb-4">
                                                <a href="/password-oublie">mots de passe oublié</a>
                                            </div>

                                            <div class=" d-flex justify-content-center mb-3">
                                                <button type="button submit" class="btn
                                        btn-secondary" data-dismiss="modal">Envoyer</button>
                                            </div>
                                        </form>
                                    </h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>













</div>
</div>
</div>