<!-- Modal -->



            <form id="inscription" action="/inscription.hbs" role="tabpanel" class="">
                <div class="form-group m-4">
                    <input type="email" class="form-control" value="" id="Email-user" placeholder="Email" aria-describedby="email">
                </div>
                <div class="form-group m-4">
                    <input type="password" class="form-control" value="" id="password-user" placeholder="mots de passe" aria-describedby="password-user">
                </div>

                <div class="form-group m-4">
                    <input type="Nom" class="form-control" value="" placeholder="Nom" id="nom-user">
                </div>
                <div class="form-group m-4">
                    <input type="prenom" class="form-control" value="" placeholder="prenom" id="prenom-user">
                </div>

                <div class=" row m-4">

                    <div class="  col-md-6">

                        <select class="form-control" value="" id="Select-genre">
                            <option value="selected">préférence
                                de
                                genre</option>
                            <option value="#">shonen</option>
                            <option value="#">seinen</option>
                            <option value="#">shojo</option>
                            <option value="#">josei</option>
                            <option value="#">kodomo</option>
                        </select>
                    </div>


                    <div class="  col-md-6">

                        <input type="pseudo" class="form-control" value="" id="pseudo" placeholder="pseudo" aria-describedby="pseudo">
                    </div>

                </div>
                <div class="d-flex justify-content-center m-3 mt-0 ml-5 mr-5">
                    <input type="date" class="form-control" id="date-de-naissance" name="trip-start" value="" placeholder="date de naissance" min="1900-01-01" max="2010-12-31">
                </div>


                <div class=" d-flex justify-content-center mb-3">
                    <button type="button submit" class="btn
                                        btn-secondary" data-dismiss="modal">Envoyer</button>
                </div>
            </form>

            




        </div>
    </div>
</div>