


    


           

            <form id="connection" action="/connection.hbs" role="tabpanel">
                <div class="form-group m-4">
                    <input type="email" class="form-control" id="Email-user" placeholder="Email" aria-describedby="email">
                </div>
                <div class="form-group m-4">
                    <input type="password" class="form-control" id="password-user" placeholder="mots de passe" aria-describedby="password-user">
                </div>
                <div class="d-flex justify-content-center mt-0 mb-4">
                    <a href="/password-oublie">mots de passe oublié</a>
                </div>

                <div class=" d-flex justify-content-center mb-3">
                    <button type="button submit" class="btn
                                        btn-secondary" data-dismiss="modal">Envoyer</button>
                </div>
            </form>




        </div>
    </div>
</div>