<div id="#n° de l'article" class="container bg-primary">
    <div class="container bg-secondary">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets/img/bookimg/naruto_1.jpg" class="card-img" alt="naruto">
                </div>
                <div class="col-md-8 justify-content-center ">
                    <div class="card-body justify-content-evenly">
                        <p class="card-text font-weight-bold text-lg-left ">Naruto est un garçon un peu spécial.
                            Solitaire au caractère fougueux,
                            il n'est pas des plus appréciés dans son village. Malgré cela, il garde
                            au fond de lui une ambition: celle de devenir un "maître Hokage", la plus
                            haute distinction dans l'ordre des ninjas, et ainsi obtenir la reconnaissance
                            de ses pairs mais cela ne sera pas de tout repos ... Suivez l'éternel farceur
                            dans sa quête du secret de sa naissance et de la conquête des fruits
                            de son ambition !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-success">
        <div class="row text-decoration-none ">
            <ul class="col-md-4">
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">nom du manga en vo</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#nom-manga-vo">ナルト</li>
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">nom de manga en vf</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#nom-manga-de-langue-server">Naruto</li>

                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">date de parution</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#date-de-parution">2000</li>
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">dessin</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#dessin"> KISHIMOTO Masashi</li>
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">scenariste</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#scenariste"> KISHIMOTO Masashi</li>

                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">traducteur</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#traducteur">RAILLARD Misato , RIPPEL Theresia</li>
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">editeur en vf</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#editeur-vf">Kana / France Loisirs</li>
                    </div>
                </div>
            </ul>
            <div class="col-md-4">
                <img id="#img-de-manga" src="assets/img/NARUTOH.jpg" alt="naruto" class=" card-img">
            </div>
            <ul class="col-md-4">
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">type</label>
                    </div>
                    <div class="col-md-6">
                        <li id="#type">Shonen</li>
                       
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">genre</label>
                    </div>
                    <div class="col-md-6">
                      
                        <li id="#genre">Action, Aventure</li>
                        
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">éditeur en vo</label>
                    </div>
                    <div class="col-md-6">
                        
                        <li id="#editeur-vo">Shûeisha</li>
                        
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">prépublication</label>
                    </div>
                    <div class="col-md-6">
                        
                        <li id="#prépublication">Shônen Jump</li>
                        
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">nom du manga en vo</label>
                    </div>
                    <div class="col-md-6">
                       
                        <li id="#illustration"> n&b</li>
                  
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">origine</label>
                    </div>
                    <div class="col-md-6">
                      
                        <li id="#origine">Japon - 2000</li>
                       
                    </div>
                </div>
                <div class=" row m-3">
                    <div class="col-md-6">
                        <label for="">code-EAN</label>
                    </div>
                    <div class="col-md-6">
                       
                        <li id="#code-EAN"> KA01</li>
                        
                    </div>
                </div>

                
            </ul>
        </div>
    </div>
    <div class="container bg-warning">
        <div class="row bg-white">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class=" m-5 justify-content-center">
                            <label for="">Age Conseillé</label>
                        </div>

                        <div class=" m-5 justify-content-center">
                            <p class=" font-weight-lighter">10+</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-5 justify-content-center">
                            <label for="note de redaction">Note De La Rédaction</label>
                        </div>
                        <div class="m-5 justify-content-center">
                            <p class=""><span id="#note de redaction">15.66</span>/20</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>