<div id="#n° de l'article" class="container mb-5 pt-5 mt-5 pb-5 bg-primary">
    <div class="container  ">
        <div class="card m-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img id="#image" src="assets/img/bookimg/naruto_1.jpg" class="card-img" alt="naruto">
                </div>
                <div class="col-md-8 justify-content-center">
                    <div class="card-body justify-content-evenly">
                        <p class="card-text  font-weight-bold text-lg-left" id="#descrit">Naruto
                            est un garçon un peu spécial.
                            Solitaire au caractère fougueux,
                            il n'est pas des plus appréciés dans son village.
                            Malgré cela, il garde
                            au fond de lui une ambition: celle de devenir un
                            "maître Hokage", la plus
                            haute distinction dans l'ordre des ninjas, et ainsi
                            obtenir la reconnaissance
                            de ses pairs mais cela ne sera pas de tout repos ...
                            Suivez l'éternel farceur
                            dans sa quête du secret de sa naissance et de la
                            conquête des fruits
                            de son ambition !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-success">
        <div class="row text-decoration-none">
            <ul class="col-md-4">
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">nom du manga en vo</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#nom-manga-vo">ナルト</p>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">nom de manga en vf</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#nom-manga-de-langue-server">Naruto</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">date de parution</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#date-de-parution">2000</p>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">dessin</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#dessin"> KISHIMOTO Masashi</p>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">scenariste</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#scenariste"> KISHIMOTO Masashi</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">traducteur</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#traducteur">RAILLARD Misato , RIPPEL Theresia</p>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">editeur en vf</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#editeur-vf">Kana / France Loisirs</p>
                    </div>
                </div>
            </ul>
            <div class="col-md-4">
                <img id="#img-de-manga" src="assets/img/NARUTOH.jpg" alt="naruto" class="card-img">
            </div>
            <ul class="col-md-4">
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">type</label>
                    </div>
                    <div class="col-md-6">
                        <p id="#type">Shonen</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">genre</label>
                    </div>
                    <div class="col-md-6">

                        <p id="#genre">Action, Aventure</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">éditeur en vo</label>
                    </div>
                    <div class="col-md-6">

                        <p id="#editeur-vo">Shûeisha</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">prépublication</label>
                    </div>
                    <div class="col-md-6">

                        <p id="#prépublication">Shônen Jump</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">nom du manga en vo</label>
                    </div>
                    <div class="col-md-6">

                        <p id="#illustration"> n&b</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">origine</label>
                    </div>
                    <div class="col-md-6">

                        <p id="#origine">Japon - 2000</p>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">code-EAN</label>
                    </div>
                    <div class="col-md-6">

                        <p id="#code-EAN"> KA01</p>

                    </div>
                </div>


            </ul>
        </div>
    </div>
    <div class="container mt-5 p-4  bg-warning">
        <div class="row bg-white">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 justify-content-center ">
                        <div class="m-5 ">
                            <label for="" class="">Age Conseillé</label>
                        </div>

                        <div class="m-5 ">
                            <p class="" id="#age-conseillé">10+</p>
                        </div>
                    </div>
                    <div class="col-md-6justify-content-center">
                        <div class="m-5 justify-content-center">
                            <label for="note de redaction" class="justify-content-center">prix</label>
                        </div>
                        <div class="m-5 justify-content-center">
                            <p class=" justify-content-center" id="#prix">6.99</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 bg-contact p-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">les volume en cours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row ">les volumes en vo</th>
                            <td id="#tome-vo">50</td>
                            <td id="#statut-tome-vo">terminer</td>
                        </tr>
                        <tr>
                            <th scope="row">les volumes en vf</th>
                            <td id="#tome-vf">40</td>
                            <td id="#statut-tome-vf">en cours</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>