.img-nav {
  width: 25px !important;
  height: 25px !important;
}

.fond {
  background-color: #222222 !important;
}

.w-icon {
  size: 100%;
}

.nav-black-active :active {
  background-color: #080808 !important;
}

.w-color {
  color: #ffffff !important;
}

.nav {
  position: fixed;
}
